/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .text {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 6vw;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 6px 0;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 2vw;
        border: 2px transparent;
        transition: border 0.5s;
    }

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/1578373500235.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        text-align: center;
    }

    .main-nav li a:hover,
    .main-nav li a:active {
        border-bottom: 2px solid #fff;
    }

    html,body {
        overflow-x: hidden;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .text {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 5.5vw;
    }

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/1578373500235.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        text-align: center;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 6px 0;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 2.3vw;
        border: 2px transparent;
        transition: border 0.5s;
    }

    .main-nav li a:hover,
    .main-nav li a:active {
        border-bottom: 2px solid #fff;
    }

    html,body {
        overflow-x: hidden;
    }
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .text {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 5.5vw;
    }

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/1578373500235.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        text-align: center;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 6px 0;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 2.5vw;
        border: 2px transparent;
        transition: border 0.5s;
    }

    .main-nav li a:hover,
    .main-nav li a:active {
        border-bottom: 2px solid #fff;
    }

    html,body {
        overflow-x: hidden;
    }

}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .text {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 4.5vw;
    }

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/1578373500235.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        min-height: 500px;
        background-repeat: no-repeat;
        text-align: center;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 6px 0;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 3vw;
        border: 2px transparent;
        transition: border 0.5s;
    }

    .main-nav li a:hover,
    .main-nav li a:active {
        border-bottom: 2px solid #fff;
    }

    html,body {
        overflow-x: hidden;
    }
}

